<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Weather App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exchange-pg">Exchange</a>
                </li>
                <li class="nav-item">
                    <a href="/chuckNorrisJokes" class="nav-link">Random Chuck Norris Joke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <h1 class="mb-4">Weather History</h1>
        <div class="list-group">
            <% userWeatherData.forEach(data => { %>
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">City: <%= data.name %></h5>
                    <p class="mb-1">Temperature: <%= data.temperature %>°C</p>
                    <small>Description: <%= data.description %></small>
                </a>
            <% }); %>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="mb-4">Exchange History</h1>
        <ul class="list-group">
            <% userExchangeData.forEach(entry => { %>
                <li class="list-group-item list-group-item-action">
                    <p class="mb-1">Base Currency: <%= entry.baseCurrency %></p>
                    <p class="mb-1">Target Currency: <%= entry.targetCurrency %></p>
                    <p class="mb-1">Rate: <%= entry.rate %></p>
                    <p class="mb-1">Date: <%= entry.createdAt %></p>
                </li>
            <% }); %>
        </ul>
    </div>

    <div class="container mt-5">
        <h1 class="mb-4">Jokes History</h1>
        <ul class="list-group">
            <% if (userJokesData && userJokesData.length > 0) { %>
                <% userJokesData.forEach(entry => { %>
                    <li class="list-group-item list-group-item-action">
                        <p class="mb-1">Joke: <%= entry.joke %></p>
                    </li>
                <% }); %>
            <% } else { %>
                <li class="list-group-item">No jokes found</li>
            <% } %>
        </ul>
    </div>
    

    <footer class="mt-5 text-center">
        <p>Created by Shirbaev Adilzhan, Group SE-2204</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
